@use "sass:math";
@import '../../../../styles/variables';

:host {
  display: inline-block;
}

.spinner {
  $bounce-size: 12px;
  $bounce-color: $primary-color;
  
  width: ($bounce-size * 3) + math.div($bounce-size, 2);
  text-align: center;

  > div {
    width: $bounce-size;
    height: $bounce-size;
    background-color: $bounce-color;
    border-radius: 100%;
    display: inline-block;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }

  .bounce1 {
    animation-delay: -0.32s;
  }

  .bounce2 {
    animation-delay: -0.16s;
  }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0);
  } 40% { 
    transform: scale(1.0);
  }
}