<app-header [isScrolled]="isScrolled" [currentSection]="currentSection"></app-header>
<app-hero></app-hero>
<div class="component-spacer"></div>
<app-property-types class="section section-light"></app-property-types>
<div class="component-spacer"></div>
<app-featured-properties class="section section-light"></app-featured-properties>
<div class="component-spacer"></div>
<app-about class="section section-dark"></app-about>
<div class="component-spacer"></div>
<app-testimonials class="section section-light"></app-testimonials>
<div class="component-spacer"></div>
<app-footer></app-footer>