<app-header [isScrolled]="isScrolled" [currentSection]="currentSection"></app-header>

<main>
  <app-hero id="home"></app-hero>

  <section id="property-types" class="section">
    <app-property-types></app-property-types>
  </section>

 <section id="popular-destinations" class="section">
    <app-popular-destinations></app-popular-destinations>
  </section>

  <section id="featured-properties" class="section">
    <app-featured-properties></app-featured-properties>
  </section>
 
  <section id="about" class="section">
    <app-about></app-about>
  </section>

  <section id="testimonials" class="section">
    <app-testimonials></app-testimonials>
  </section>
</main>

<app-footer></app-footer>

<button *ngIf="showBackToTop" class="back-to-top" (click)="scrollToTop()" pRipple>
  <i class="pi pi-chevron-up"></i>
</button>

<p-toast></p-toast>